@media screen and (max-width: 499px) {
    div {
        margin: 30px 20px 10px 20px;
        padding: 1px 0 10px 0;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
    }
    div {
        /deep/ h1 {
            font-size: 1.5rem;
            text-decoration: underline;
            margin-bottom: 30px;
        }
        /deep/ h2 {
            font-size: 1.2rem;
            margin: 25px 0 5px 0;
        }
    }
}

@media screen and (min-width: 500px) {
    div {
        margin: 50px 50px 10px 50px;
        padding: 1px 0 10px 0;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
    }
    div {
        /deep/ h1 {
            font-size: 2rem;
            text-decoration: underline;
            margin-bottom: 50px;
        }
        /deep/ h2 {
            font-size: 1.5rem;
            margin: 35px 0 5px 0;
        }
    }
}

div {
    /deep/ img {
        width: 100%;
    }
    /deep/ a {
        word-wrap: break-word;
        text-wrap: wrap;
    }
    /deep/ p:not(:first-child) {
        margin-bottom: 10px;
    }
}