div {
    --width: 90%;
    width: var(--width);
    margin: auto;
}

@media screen and (min-width: 500px) {
    div {
        --width: 420px;
    }
}

img {
    width: var(--width);
    border-radius: 5px;
}