main {
    padding: 100px 100px 10px 100px;
}

div {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: auto;
}

div>* {
    margin: 20px 0;
}