div {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* max-width: 1280px; */
    margin: auto;
}

.WorkBox {
    margin: 25px;
}

.WorkBox:last-child {
    margin-bottom: 30px;
}

.dammy {
    margin: 0 25px;
}

@media screen and (max-width: 799px) {
    .WorkBox:last-child {
        margin-bottom: 20px;
    }
}

.work-box-link {
    text-decoration: none;
}

.button-area {
    width: 135px;
    display: flex;
    justify-content: space-around;
}

.button-area>span {
    line-height: 30px;
}

.button-area>button {
    background-color: rgb(226, 226, 226);
    border: 1px gray solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.fade {
    opacity: 0;
}