div {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.WorkBox {
    margin: 25px;
}

.work-box-link {
    text-decoration: none;
}