#button {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background-color: skyblue;
    border-radius: 10px;
}

#button:hover {
    cursor: pointer;
}

.bar {
    content: '';
    width: 45px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    margin: 10px auto;
    position: relative;
    top: 5px;
}