.button {
    position: fixed;
    right: 20px;
    top: 18px;
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    /* background-color: skyblue; */
    border-radius: 10px;
    z-index: 5;
}

.button:hover {
    cursor: pointer;
}

.button>.bar {
    content: '';
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background-color: skyblue;
    margin: 6.4px auto;
    position: relative;
    top: 5.5px;
    transition: 0.3s ease-in-out;
}

.button>.dammy-bar {
    content: '';
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background-color: skyblue;
    margin: 6.4px auto;
    position: relative;
    top: 5.5px;
    opacity: 0;
    transform: scaleX(0);
    animation: cross-anim 0.7s;
}

.button>.bar2 {
    content: '';
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background-color: skyblue;
    margin: 6.4px auto;
    position: relative;
    top: 5.5px;
    transition: 0.4s ease-in-out;
    transform: scaleX(1);
    opacity: 1;
}

@keyframes cross-anim {
    0% {
        transform: scaleX(1) rotateZ(0deg);
        opacity: 1;
    }
    65% {
        transform: scaleX(1) rotateZ(180deg);
        opacity: 1;
    }
    80% {
        transform: scaleX(0.7) rotateZ(180deg);
        opacity: 1;
    }
    100% {
        transform: scaleX(0) rotateZ(180deg);
        opacity: 1;
    }
}

.cross-button>.bar:nth-child(1) {
    transform: rotateZ(45deg) translateX(6px) translateY(6px);
}

.cross-button>.bar:nth-child(3) {
    transform: rotateZ(-45deg) translateX(6px) translateY(-6px);
}

.menu-close {
    top: -100vh;
}

.menu-open {
    animation: menu-open 0.3s;
}

@keyframes menu-open {
    0% {
        top: -100vh;
        opacity: 0;
    }
    5% {
        top: -70vh;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes menu-str-open {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
        transform: translateY(-30px);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

ul {
    animation: menu-str-open 0.6s;
    margin: auto;
    line-height: 55px;
}

li {
    list-style: none;
}

.link {
    font-size: 30px;
    color: white;
    text-decoration: underline;
    text-align: center;
    font-weight: unset;
}