.button {
    position: fixed;
    right: 10px;
    top: 10px;
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background-color: skyblue;
    border-radius: 10px;
    z-index: 5;
}

.button:hover {
    cursor: pointer;
}

.button>.bar {
    content: '';
    width: 45px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    margin: 10px auto;
    position: relative;
    top: 5px;
    transition: 0.3s ease-in-out;
}

.button>.dammy-bar {
    content: '';
    width: 0;
    height: 3px;
    border-radius: 5px;
    opacity: 0;
    margin: 10px auto;
    position: relative;
    top: 5px;
    transition: 0.3s ease-in-out;
}

.cross-button>.bar:nth-child(1) {
    transform: rotateZ(45deg) translateX(9px) translateY(9px);
}

.cross-button>.bar:nth-child(3) {
    transform: rotateZ(-45deg) translateX(9px) translateY(-9px);
}

.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    margin: auto;
    line-height: 55px;
}

li {
    list-style: none;
}

.link {
    font-size: 30px;
    color: white;
    text-decoration: underline;
    text-align: center;
    font-weight: unset;
}