.About {
    padding: 0 80px;
}

@media screen and (max-width: 500px) {
    .About {
        padding: 0 20px;
    }
}

#profile {
    display: flex;
    height: 300px;
    width: 100%;
    margin: 0 auto 50px auto;
    justify-content: space-between;
    align-items: center;
}

#profile .IntroBox {
    width: 65%;
    height: 100%;
    margin-left: 10px;
}

#imgBox {
    width: auto;
    height: 300px;
    margin-right: 10px;
}

#imgBox img {
    width: auto;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#profileList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profileItmes {
    display: flex;
}

.key {
    width: 110px;
}

.value {
    margin-left: 10px;
}

.introductions {
    margin: 50px auto;
}

.introBoxs {
    margin: 50px auto;
}

.introBoxs ul {
    margin: 0 0 0 20px;
    padding: 0;
}

.introBoxs {
    line-height: 30px;
}

@media screen and (max-width: 960px) {
    main {
        padding: 50px 50px 30px 50px;
    }
    .value {
        margin-left: 0;
    }
}

@media screen and (max-width: 800px) {
    main {
        padding: 50px 10px 30px 10px;
    }
    .value {
        margin-left: 0;
    }
    #profile .IntroBox {
        width: 100%;
        margin: auto;
    }
    .IntroBoxs {
        margin: auto;
        width: 100%;
    }
    #profile {
        display: block;
        margin: 0;
        height: auto;
    }
    #imgBox {
        width: 100%;
        text-align: center;
        margin: auto;
    }
}

.link {
    text-decoration: none;
    color: rgb(31, 103, 170);
}