#nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: 100%;
    background-color: var(--color);
    color: var(--textColor);
    text-decoration: none;
    font-size: 24px;
}